<head>
  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &#8211;
      {{ site.tagline }}
    {% else %}
      {{ page.title }} &#8211;
      {{ site.title }}
    {% endif %}
  </title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

  {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt | strip_html | truncatewords: 20 }}" />
  {% else %}
    <meta name="description" content="{{ site.tagline }}" />
  {% endif %}

    <!-- External CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600|PT+Serif" rel="stylesheet">

</head>
