<div class="db dtc-l v-btm w-100 w-75-l tc tr-l">
  <a class="ash-sans link dim dark-gray f6 f5-l dib mr3 mr4-l ttu" href="#" title="Home">Home</a>
  <a class="ash-sans link dim dark-gray f6 f5-l dib mr3 mr4-l ttu" href="#" title="Situations">Situations</a>
  <a class="ash-sans link dim dark-gray f6 f5-l dib mr3 mr4-l ttu" href="#" title="About">About</a>
  <a class="ash-sans link dim dark-gray f6 f5-l dib mr3 mr4-l ttu" href="#" title="Contact">Contact</a>
  <a class="ash-sans link dim dark-gray f6 f5-l dib ttu" href="#" title="Our people">Our people</a>
</div>
