---
layout: default
---

{% include header.html %}

<header>
  <div class="cover bg-left bg-center-l vh-75 dt w-100" style="background-image: url({{ site.baseurl }}/{{ page.image }})">
    <div class="bg-black-40 dtc v-mid tc">
        <h1 class="f-head f-head-ns fw4 white-90 mb0 lh-title ttu">{{ page.title }}</h1>
    </div>
  </div>
</header>

  <div class="measure-wide center f3 pv4-l lh-copy ph3 mt4">
    {{ content }}
   </div>

    <div class="pv4 pl3 mw6 mw7-ns center tc-ns">
      <a class="ash-sans f5 f3-ns link dim ph3 ph4-l pv2 mb4 mr3-ns dib white bg-ashblue ttu tracked" href="mailto:ta@ashbright.com">Get in touch</a>

      <a class="ash-sans f5 f3-ns link dim ph3 ph4-l pv2 mb4 ml3-ns dib white bg-ashdarkgrey ttu tracked" href="tel:+971502206916">+971 50 220 6916</a>
    </div>


  <div class="cf mw8 center ph3 pt3-l">
    {% for situation in site.situations %}
     {% if situation.url != page.url %}

     <div class='fl w-100 w-50-m w-33-l'>
       <article class="bg-white mw7 mb3 fl mh2-ns">
        <a href="{{ situation.url }}" class="db pv1 ph0-l no-underline black dim">
          <img src="{{ site.baseurl }}/{{ situation.thumbnail }}" class="w-100 db" alt="{{ situation.title }}">
          <div class="pb3 pl1">
            <h2 class="f2 ashblue ttu">{{ situation.title }}</h2>
          </div>
        </a>
      </article>
     </div>

     {% endif %}
    {% endfor %}
  </div>





